<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/model/svd_model4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 KB 10.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.21.6)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.7.3)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp38-cp38-linux_x86_64.whl size=3366462 sha256=3be054e7fa737fa797294df1fe7c536e1b4aabadf24c4c90769f27173ded2818
  Stored in directory: /root/.cache/pip/wheels/af/db/86/2c18183a80ba05da35bf0fb7417aac5cddbd93bcb1b92fd3ea
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.3 surprise-0.1

In [3]:
import pandas as pd
import numpy as np
import surprise

In [4]:
data=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data4.pkl')

In [5]:
data

,event_time,user_id,product_id,large_category,small_category,brand,price,target
0,1569888268,535977220,8901605,kids,toys,chicco,74,0
1,1569888468,554754531,12100784,kids,skates,kugoo,568,0
2,1569888484,554754531,12100784,kids,skates,kugoo,568,0
3,1569891332,532131039,12100784,kids,skates,kugoo,568,0
4,1569891990,537742213,25800000,medicine,tonometer,omron,74,0
...,...,...,...,...,...,...,...,...
535420,1572566108,527150238,12100581,kids,skates,micmax,19,0
535421,1572566114,515351664,9002778,kids,toys,disney,10,0
535422,1572566119,515351664,9002778,kids,toys,disney,10,0
535423,1572566137,515351664,9002778,kids,toys,disney,10,0
535424,1572566264,560001750,9002778,kids,toys,disney,10,0

In [6]:
reader = surprise.Reader(rating_scale=[0, 2])
dataset=surprise.Dataset.load_from_df(data[['user_id', 'product_id', 'target']], reader)
trainset = dataset.build_full_trainset()

In [7]:
algo = surprise.SVD()
algo.fit(trainset)

In [8]:
surprise.dump.dump('/content/drive/MyDrive/project2_2/model/svd_model4',algo=algo)