<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/model/baseline_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from surprise.model_selection import train_test_split
import surprise

In [2]:
data=pd.read_pickle('/content/drive/MyDrive/project2_2/data_after.pkl')

In [3]:
data

,event_time,user_id,product_id,large_category,small_category,brand,price,target
0,1569888000,541312140,44600062,NaN,NaN,shiseido,35,0
1,1569888000,554748717,3900821,appliances,water_heater,aqua,33,0
2,1569888001,519107250,17200506,furniture,sofa,NaN,543,0
3,1569888001,550050854,1307067,computers,notebook,lenovo,251,0
4,1569888004,535871217,1004237,electronics,smartphone,apple,1081,0
...,...,...,...,...,...,...,...,...
42448759,1572566398,537931532,2300275,electronics,video,gopro,527,0
42448760,1572566398,527322328,10800172,NaN,NaN,redmond,61,0
42448761,1572566398,566280422,5701038,auto,player,kenwood,128,0
42448762,1572566399,513118352,21407424,electronics,clocks,tissot,689,0
42448763,1572566399,525266378,13300120,NaN,NaN,swisshome,155,0

In [4]:
reader = surprise.Reader(rating_scale=(0, 2))
data=surprise.Dataset.load_from_df(data[['user_id', 'product_id', 'target']], reader)

In [ ]:
trainset, testset = train_test_split(data, test_size=0.2,random_state=21)

In [ ]:
bsl_options = {'method': 'als',
               'n_epochs': 5,
               'reg_u': 12,
               'reg_i': 5
               }

In [ ]:
algo = surprise.BaselineOnly(bsl_options=bsl_options)
predictions = algo.fit(trainset).test(testset)
accuracy.rmse(predictions)