<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/model/baseline_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
data=pd.read_pickle('/content/drive/MyDrive/project2_2/data_after.pkl')

In [4]:
data

,event_time,user_id,product_id,large_category,small_category,brand,price,target
0,1569888000,541312140,44600062,NaN,NaN,shiseido,36,0
1,1569888000,554748717,3900821,appliances,water_heater,aqua,33,0
2,1569888001,519107250,17200506,furniture,sofa,NaN,543,0
3,1569888001,550050854,1307067,computers,notebook,lenovo,252,0
4,1569888004,535871217,1004237,electronics,smartphone,apple,1082,0
...,...,...,...,...,...,...,...,...
41705910,1572566398,537931532,2300275,electronics,video,gopro,527,0
41705911,1572566398,527322328,10800172,NaN,NaN,redmond,62,0
41705912,1572566398,566280422,5701038,auto,player,kenwood,129,0
41705913,1572566399,513118352,21407424,electronics,clocks,tissot,690,0
41705914,1572566399,525266378,13300120,NaN,NaN,swisshome,156,0

In [5]:
data=data[['user_id','product_id','target']]

In [6]:
X=data[['user_id','product_id']]
y=data[['target']]

In [7]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=21,stratify=data.target)