<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/model/baseline_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import surprise

In [2]:
train_data=pd.read_pickle('/content/drive/MyDrive/project2_2/train_data.pkl')
test_data=pd.read_pickle('/content/drive/MyDrive/project2_2/test_data.pkl')

In [3]:
train_data

,event_time,user_id,product_id,large_category,small_category,brand,price,target
1275898,1570037773,556102404,1307356,computers,notebook,asus,373,0
276993,1569925076,528467081,1005160,electronics,smartphone,xiaomi,231,0
13380600,1571406372,547142844,2701698,appliances,refrigerators,bosch,475,0
2950451,1570251070,513288503,4800900,electronics,headphone,NaN,7,0
417080,1569938768,512871735,2400262,appliances,hood,hansa,257,0
...,...,...,...,...,...,...,...,...
14417581,1571507735,562002472,1004256,electronics,smartphone,apple,801,0
1150762,1570028381,534275871,1201256,electronics,tablet,huawei,178,0
9468452,1571015947,537944490,1004836,electronics,smartphone,samsung,229,0
15448018,1571631447,512650263,4804056,electronics,headphone,apple,160,0
551256,1569948441,515160017,6400333,computers,cpu,intel,99,0

In [4]:
reader = surprise.Reader(rating_scale=(0, 2))
trainset=surprise.Dataset.load_from_df(train_data[['user_id', 'product_id', 'target']], reader).build_full_trainset()

In [7]:
bsl_options = {'method': 'als',
               'n_epochs': 5,
               'reg_u': 12,
               'reg_i': 3
               }

In [8]:
algo = surprise.BaselineOnly(bsl_options=bsl_options)
algo.fit(trainset)

Estimating biases using als...

In [9]:
surprise.dump.dump('/content/drive/MyDrive/project2_2/baseline_model.h5', algo=algo)