<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/model/baseline_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [38]:
data=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data1.pkl')

In [30]:
test=pd.read_pickle('/content/drive/MyDrive/project2_2/baseline_pred.pkl')

In [39]:
data=data[['user_id','product_id','target']]
data.columns=['uid','iid','rui']
data

                uid       iid  rui
0         554748717   3900821    0
1         550050854   1307067    0
2         535871217   1004237    0
3         512742880   1480613    0
4         537918940   1004545    0
...             ...       ...  ...
24440244  518956209   1004870    0
24440245  524356542   2702331    0
24440246  537931532   2300275    0
24440247  566280422   5701038    0
24440248  513118352  21407424    0

[24440249 rows x 3 columns]

In [42]:
test=test[['uid','iid','rui']]
test

               uid      iid  rui
0        566280697  2300307    0
1        566280399  4803399    0
2        566280291  1005134    1
3        566280187  1004347    0
4        566280027  5100681    0
...            ...      ...  ...
4888045  226242984  1802045    0
4888046  200673532  6701171    0
4888047  200673532  6501011    0
4888048  200673532  6501011    0
4888049  195082191  4804056    0

[4888050 rows x 3 columns]

In [44]:
data=pd.concat([data,test])

In [46]:
data=data[~data.duplicated()]

In [49]:
X=data[['uid','iid']]
y=data[['rui']]
X_test=test[['uid','iid']]
y_test=test[['rui']]

In [54]:
line_fitter = LinearRegression()
line_fitter.fit(X, y)
pred=line_fitter.predict(X_test)

In [56]:
test['est']=pred

In [57]:
test

               uid      iid  rui       est
0        566280697  2300307    0  0.132801
1        566280399  4803399    0  0.123352
2        566280291  1005134    1  0.137689
3        566280187  1004347    0  0.137692
4        566280027  5100681    0  0.122230
...            ...      ...  ...       ...
4888045  226242984  1802045    0  0.010029
4888046  200673532  6701171    0 -0.017836
4888047  200673532  6501011    0 -0.017081
4888048  200673532  6501011    0 -0.017081
4888049  195082191  4804056    0 -0.012725

[4888050 rows x 4 columns]

In [58]:
def sort(df):
  df=df.sort_values(by=['uid','est'],ascending=False)
  df=df[['uid','iid','rui','est']].reset_index(drop=True)
  return df

In [59]:
sorted_df=sort(test)

In [61]:
sorted_df.to_pickle('/content/drive/MyDrive/project2_2/baseline_pred.pkl')