<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/model/svc_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import surprise
from surprise.model_selection import train_test_split

ModuleNotFoundError: ignored

In [ ]:
data=pd.read_pickle('/content/drive/MyDrive/project2_2/small_target_data.pkl')

In [ ]:
data

            user_id  product_id  target
0         554748717     3900821       0
1         550050854     1307067       0
2         535871217     1004237       0
3         512742880     1480613       0
4         537918940     1004545       0
...             ...         ...     ...
23427129  553802615    21408491       0
23427130  518956209     1004870       0
23427131  524356542     2702331       0
23427132  537931532     2300275       0
23427133  513118352    21407424       0

[23427134 rows x 3 columns]

In [ ]:
reader = surprise.Reader(rating_scale=[0, 2])
dataset=surprise.Dataset.load_from_df(data[['user_id', 'product_id', 'target']], reader)
trainset, testset = train_test_split(dataset, test_size=0.2, random_state=21)

In [ ]:
bsl_options = {'method': 'als',
               'n_epochs': 5,
               'reg_u': 12,
               'reg_i': 3
               }

In [ ]:
algo = surprise.BaselineOnly(bsl_options=bsl_options)
pred=algo.fit(trainset).test(testset)

Estimating biases using als...

In [ ]:
pred_df = pd.DataFrame(pred, columns=['uid', 'iid', 'rui', 'est', 'details'])

In [ ]:
def sort(df):
  df=df.sort_values(by=['uid','est'],ascending=False)
  df=df[['uid','iid','rui','est']].reset_index(drop=True)
  df.rui=pred_df.rui.astype('int')
  return df

In [ ]:
sorted_df=sort(pred_df)

In [ ]:
sorted_df.to_pickle('/content/drive/MyDrive/project2_2/baseline_pred.pkl')