<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/model/svd_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 KB 28.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.21.6)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.7.3)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp38-cp38-linux_x86_64.whl size=3366438 sha256=873807970563e7978a2dac0b622cc6a5af6086ae7b4b1e27c1bf60e62f3efab0
  Stored in directory: /root/.cache/pip/wheels/af/db/86/2c18183a80ba05da35bf0fb7417aac5cddbd93bcb1b92fd3ea
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.3 surprise-0.1

In [6]:
import pandas as pd
import numpy as np
import surprise
from surprise.model_selection import train_test_split

In [7]:
data=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data1.pkl')

In [8]:
data

            user_id  product_id  target
0         554748717     3900821       0
1         550050854     1307067       0
2         535871217     1004237       0
3         512742880     1480613       0
4         537918940     1004545       0
...             ...         ...     ...
12979217  557202408     1005008       0
12979218  553802615    21408491       0
12979219  518956209     1004870       0
12979220  524356542     2702331       0
12979221  537931532     2300275       0

[12979222 rows x 3 columns]

In [9]:
reader = surprise.Reader(rating_scale=[0, 2])
dataset=surprise.Dataset.load_from_df(data[['user_id', 'product_id', 'target']], reader)
trainset, testset = train_test_split(dataset, test_size=0.2, random_state=21)

In [10]:
algo = surprise.SVD()
pred=algo.fit(trainset).test(testset)

In [11]:
pred_df = pd.DataFrame(pred, columns=['uid', 'iid', 'rui', 'est', 'details'])

In [12]:
def sort(df):
  df=df.sort_values(by=['uid','est'],ascending=False)
  df=df[['uid','iid','rui','est']].reset_index(drop=True)
  df.rui=pred_df.rui.astype('int')
  return df

In [13]:
sorted_df=sort(pred_df)

In [14]:
sorted_df.to_pickle('/content/drive/MyDrive/project2_2/svd_electronic_pred.pkl')