<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/model/svd_model5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: surprise in /usr/local/lib/python3.8/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.8/dist-packages (from surprise) (1.1.3)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.7.3)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.21.6)

In [10]:
import pandas as pd
import numpy as np
import surprise

In [11]:
data=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data5.pkl')

In [12]:
data

,event_time,user_id,product_id,large_category,small_category,brand,price,target
0,1569888000,541312140,44600062,NaN,NaN,shiseido,35,0
1,1569888008,555447699,17300353,NaN,NaN,creed,380,0
2,1569888008,550978835,31500053,NaN,NaN,luminarc,41,0
3,1569888015,541312140,44600062,NaN,NaN,shiseido,35,0
4,1569888017,513642368,23100006,NaN,NaN,NaN,357,0
...,...,...,...,...,...,...,...,...
13515604,1572566395,515474976,42200036,NaN,NaN,NaN,17,0
13515605,1572566398,544578298,12800151,NaN,NaN,sony,8,0
13515606,1572566398,543653226,5100816,NaN,NaN,xiaomi,29,0
13515607,1572566398,527322328,10800172,NaN,NaN,redmond,61,0
13515608,1572566399,525266378,13300120,NaN,NaN,swisshome,155,0

In [13]:
reader = surprise.Reader(rating_scale=[0, 2])
dataset=surprise.Dataset.load_from_df(data[['user_id', 'product_id', 'target']], reader)
trainset = dataset.build_full_trainset()

In [14]:
algo = surprise.SVD()
algo.fit(trainset)

In [15]:
surprise.dump.dump('/content/drive/MyDrive/project2_2/model/svd_model5',algo=algo)