<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/model/svd_model3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 KB 27.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.21.6)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.7.3)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp38-cp38-linux_x86_64.whl size=3366445 sha256=ad8f1be4531aeec1af227dce908802484fa14c7d0c4cece388d84d7f70906feb
  Stored in directory: /root/.cache/pip/wheels/af/db/86/2c18183a80ba05da35bf0fb7417aac5cddbd93bcb1b92fd3ea
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.3 surprise-0.1

In [3]:
import pandas as pd
import numpy as np
import surprise

In [4]:
data=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data3.pkl')

In [5]:
data

,event_time,user_id,product_id,large_category,small_category,brand,price,target
0,1569888010,520571932,28719074,apparel,keds,baden,102,0
1,1569888026,520571932,28719071,apparel,keds,baden,102,0
2,1569888028,555447570,28714755,apparel,shoes,respect,51,0
3,1569888031,545323115,28718079,apparel,keds,respect,66,0
4,1569888033,513798668,28717908,apparel,shoes,burgerschuhe,102,0
...,...,...,...,...,...,...,...,...
1965393,1572566351,566175330,56300074,apparel,jumper,conceptclub,30,0
1965394,1572566361,514548537,28717850,apparel,shoes,NaN,177,0
1965395,1572566366,545220871,44300048,apparel,jeans,NaN,59,0
1965396,1572566383,545220871,44300021,apparel,jeans,NaN,48,0
1965397,1572566397,545220871,44300011,apparel,jeans,NaN,50,0

In [6]:
reader = surprise.Reader(rating_scale=[0, 2])
dataset=surprise.Dataset.load_from_df(data[['user_id', 'product_id', 'target']], reader)
trainset = dataset.build_full_trainset()

In [7]:
algo = surprise.SVD()
algo.fit(trainset)

In [8]:
surprise.dump.dump('/content/drive/MyDrive/project2_2/model/svd_model3',algo=algo)