<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/model/svd_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: surprise in /usr/local/lib/python3.8/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.8/dist-packages (from surprise) (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.21.6)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.7.3)

In [16]:
import pandas as pd
import numpy as np
import surprise
from surprise.model_selection import train_test_split

In [17]:
data=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data1.pkl')

In [18]:
data

            user_id  product_id  target
0         554748717     3900821       0
1         550050854     1307067       0
2         535871217     1004237       0
3         512742880     1480613       0
4         537918940     1004545       0
...             ...         ...     ...
12979217  557202408     1005008       0
12979218  553802615    21408491       0
12979219  518956209     1004870       0
12979220  524356542     2702331       0
12979221  537931532     2300275       0

[12979222 rows x 3 columns]

In [19]:
reader = surprise.Reader(rating_scale=[0, 2])
dataset=surprise.Dataset.load_from_df(data[['user_id', 'product_id', 'target']], reader)
trainset, testset = train_test_split(dataset, test_size=0.2, random_state=21)

In [20]:
algo = surprise.SVD(n_factors=50,n_epochs=20)
pred=algo.fit(trainset).test(testset)

In [21]:
pred_df = pd.DataFrame(pred, columns=['uid', 'iid', 'rui', 'est', 'details'])

In [22]:
def sort(df):
  df=df.sort_values(by=['uid','est'],ascending=False)
  df=df[['uid','iid','rui','est']].reset_index(drop=True)
  df.rui=pred_df.rui.astype('int')
  return df

In [23]:
sorted_df=sort(pred_df)

In [24]:
sorted_df.to_pickle('/content/drive/MyDrive/project2_2/svd_electronic_pred.pkl')