<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/model/svd_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import surprise
from surprise.model_selection import train_test_split

In [5]:
data=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data1.pkl')

In [6]:
data

,event_time,user_id,product_id,large_category,small_category,brand,price,target
0,1569888000,554748717,3900821,appliances,water_heater,aqua,33,0
1,1569888001,550050854,1307067,computers,notebook,lenovo,251,0
2,1569888004,535871217,1004237,electronics,smartphone,apple,1081,0
3,1569888005,512742880,1480613,computers,desktop,pulser,908,0
4,1569888011,537918940,1004545,electronics,smartphone,huawei,566,0
...,...,...,...,...,...,...,...,...
24440244,1572566398,518956209,1004870,electronics,smartphone,samsung,275,0
24440245,1572566398,524356542,2702331,appliances,refrigerators,lg,527,0
24440246,1572566398,537931532,2300275,electronics,video,gopro,527,0
24440247,1572566398,566280422,5701038,auto,player,kenwood,128,0
24440248,1572566399,513118352,21407424,electronics,clocks,tissot,689,0

In [7]:
reader = surprise.Reader(rating_scale=[0, 2])
dataset=surprise.Dataset.load_from_df(data[['user_id', 'product_id', 'target']], reader)
trainset, testset = train_test_split(dataset, test_size=0.2, random_state=21)

In [8]:
algo = surprise.SVD()
pred=algo.fit(trainset).test(testset)

In [9]:
pred_df = pd.DataFrame(pred, columns=['uid', 'iid', 'rui', 'est', 'details'])

In [10]:
def sort(df):
  df=df.sort_values(by=['uid','est'],ascending=False)
  df=df[['uid','iid','rui','est']].reset_index(drop=True)
  df.rui=pred_df.rui.astype('int')
  return df

In [11]:
sorted_df=sort(pred_df)

In [13]:
sorted_df.to_pickle('/content/drive/MyDrive/project2_2/svd_electronic_pred.pkl')