<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/EDA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('/content/drive/MyDrive/project2_2/data2.csv')

In [3]:
data

,event_time,product_id,brand,price,user_id,target,larget_category,small_category
0,1569888000,3900821,aqua,33.20,554748717,0,appliances,water_heater
1,1569888001,1307067,lenovo,251.74,550050854,0,computers,notebook
2,1569888004,1004237,apple,1081.98,535871217,0,electronics,smartphone
3,1569888005,1480613,pulser,908.62,512742880,0,computers,desktop
4,1569888010,28719074,baden,102.71,520571932,0,apparel,keds
...,...,...,...,...,...,...,...,...
26011110,1572566398,1004870,samsung,275.25,518956209,0,electronics,smartphone
26011111,1572566398,2702331,lg,527.43,524356542,0,appliances,refrigerators
26011112,1572566398,2300275,gopro,527.40,537931532,0,electronics,video
26011113,1572566398,5701038,kenwood,128.70,566280422,0,auto,player
26011114,1572566399,21407424,tissot,689.85,513118352,0,electronics,clocks