<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/get_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
baseline_pred=pd.read_pickle('/content/drive/MyDrive/project2_2/model/baseline_pred.pkl')

In [7]:
svd_pred=pd.read_pickle('/content/drive/MyDrive/project2_2/svd_electronic_pred.pkl')

In [3]:
baseline_pred

               uid       iid  rui       est
0        566280663   1005127    2  0.079088
1        566280399   4804110    0  0.000443
2        566280286  21407628    0  0.035292
3        566280241   5000088    0  0.003993
4        566280187   1004347    0  0.031653
...            ...       ...  ...       ...
4685422  239876607   1005014    0  0.025942
4685423  239876607   1004956    0  0.017662
4685424  239876607   1004956    0  0.017662
4685425  239475080   3100198    0  0.021558
4685426  200673532   6501011    0  0.019232

[4685427 rows x 4 columns]

In [4]:
def run(df,uid):
  return df[df.uid==uid].head(3)

In [5]:
def main(df):
  precision_list=[]
  recall_list=[]
  df=df.drop_duplicates().reset_index(drop=True)
  test=df[df.uid.isin(df.uid.value_counts().loc[lambda x: x>5].index)] # user 평가 데이터 6개 이상인 것만
  id_list=test.uid.unique()

  for i in tqdm(id_list):
    result=run(df,i)
    try:
      count=len(result[result.rui>=1])
      precision=count/3
      recall=count/len(df[(df.uid==i)&(df.rui>=1)])
      precision_list.append(precision)
      recall_list.append(recall)

    except:
      pass

  return f'precision: {np.mean(precision_list)}, recall: {np.mean(recall_list)}'

In [6]:
main(baseline_pred)

100%|██████████| 156107/156107 [37:35<00:00, 69.22it/s]

'precision: 0.14435955708137901, recall: 0.3144557652876198'

In [ ]:
main(svd_pred)