<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/get_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import surprise

In [5]:
test=pd.read_pickle('/content/drive/MyDrive/project2_2/test_data.pkl')

In [3]:
_,baseline_model=surprise.dump.load('/content/drive/MyDrive/project2_2/baseline_model.h5')

In [6]:
test

,event_time,user_id,product_id,large_category,small_category,brand,price,target
5262244,1570526656,548510915,1005161,electronics,smartphone,xiaomi,244,0
8252486,1570882146,559459864,1004566,electronics,smartphone,huawei,169,0
9947335,1571058154,527779041,4804055,electronics,headphone,apple,191,0
2173786,1570170009,514676605,3800659,appliances,iron,polaris,43,0
22516873,1572445587,565797670,1003312,electronics,smartphone,apple,717,0
...,...,...,...,...,...,...,...,...
6957539,1570728451,526135599,8800773,electronics,telephone,nokia,73,0
16323891,1571727319,562285088,1003316,electronics,smartphone,apple,931,0
23142717,1572528834,566134972,4802036,electronics,headphone,apple,180,0
7435310,1570792214,516774537,1003311,electronics,smartphone,apple,704,0
18727248,1571995205,563734763,1004767,electronics,smartphone,samsung,246,0

In [10]:
len(test.user_id.unique())

1250221

In [ ]:
def get_product_id(user_id):
  test

In [ ]:
def test_score():
    precision_list=[]
    recall_list=[]
    for i in test['user_id'].unique():
      test_title=list(test[(test.rating>3)&(test.user_id==i)].movie_title)
      try:
        if len(test_title)>1:
          recommended_list=list(run(test_title[0]).index)
          count=0
          for value in test_title[1:]:
            if value in recommended_list:
              count+=1
          precision=count/len(recommended_list)
          recall=count/(len(test_title)-1)
          precision_list.append(precision)
          recall_list.append(recall)

      except:
        pass

    return f'precision: {np.mean(precision_list)}, recall: {np.mean(recall_list)}'