<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/get_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [ ]:
baseline_pred=pd.read_pickle('/content/drive/MyDrive/project2_2/model/baseline_pred.pkl')

In [54]:
svd_pred=pd.read_pickle('/content/drive/MyDrive/project2_2/svd_electronic_pred.pkl')

In [55]:
baseline_pred

               uid      iid  rui       est
0        566280697  2300307    0  0.153523
1        566280399  4802888    0  0.142338
2        566280399  4803186    0  0.142337
3        566280399  4804695    0  0.142330
4        566280291  1005134    0  0.159311
...            ...      ...  ...       ...
2595840  240522111  5100565    0 -0.019638
2595841  239475080  3100198    0 -0.011214
2595842  236306098  1005105    0 -0.003414
2595843  224520397  8800028    0 -0.044062
2595844  209714031  8700583    0 -0.050919

[2595845 rows x 4 columns]

In [56]:
def run(df,uid):
  return df[df.uid==uid].head(10)

In [57]:
def main(df):
  precision_list=[]
  recall_list=[]
  df=df.drop_duplicates().reset_index(drop=True)
  test=df[df.uid.isin(df.uid.value_counts().loc[lambda x: x>=20].index)] # user 평가 데이터 20개 이상인 것만
  id_list=test.uid.unique()

  for i in tqdm(id_list):
    result=run(df,i)
    try:
      count=len(result[result.rui>=1])
      precision=count/3
      recall=count/len(df[(df.uid==i)&(df.rui>=1)])
      precision_list.append(precision)
      recall_list.append(recall)

    except:
      pass

  return f'precision: {np.mean(precision_list)}, recall: {np.mean(recall_list)}'

In [58]:
main(baseline_pred)

100%|██████████| 3189/3189 [00:34<00:00, 92.27it/s]

'precision: 0.2670285640429107, recall: 0.39622008038060774'

In [59]:
main(svd_pred)

100%|██████████| 3188/3188 [00:34<00:00, 91.67it/s]

'precision: 0.2611843806568399, recall: 0.38670796544632846'