<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/get_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import surprise

In [4]:
data=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data.pkl')

In [6]:
_,baseline_model=surprise.dump.load('/content/drive/MyDrive/project2_2/baseline_model')

In [5]:
data

,event_time,user_id,product_id,large_category,small_category,brand,price,target
0,1569888000,554748717,3900821,appliances,water_heater,aqua,33,0
1,1569888001,550050854,1307067,computers,notebook,lenovo,251,0
2,1569888004,535871217,1004237,electronics,smartphone,apple,1081,0
3,1569888005,512742880,1480613,computers,desktop,pulser,908,0
4,1569888011,537918940,1004545,electronics,smartphone,huawei,566,0
...,...,...,...,...,...,...,...,...
23427129,1572566397,553802615,21408491,electronics,clocks,NaN,350,0
23427130,1572566398,518956209,1004870,electronics,smartphone,samsung,275,0
23427131,1572566398,524356542,2702331,appliances,refrigerators,lg,527,0
23427132,1572566398,537931532,2300275,electronics,video,gopro,527,0
23427133,1572566399,513118352,21407424,electronics,clocks,tissot,689,0

In [ ]:
def get_recommend(user_id,recommend_number):