<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/get_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np
import tqdm

In [3]:
baseline_pred=pd.read_pickle('/content/drive/MyDrive/project2_2/baseline_pred.pkl')

In [9]:
baseline_pred

               uid       iid  rui       est
0        566280663   1005127    2  0.079088
1        566280399   4804110    0  0.000443
2        566280286  21407628    0  0.035292
3        566280241   5000088    0  0.003993
4        566280187   1004347    0  0.031653
...            ...       ...  ...       ...
3728437  239876607   1005102    0  0.034935
3728438  239876607   1005014    0  0.025942
3728439  239876607   1004956    0  0.017662
3728440  239475080   3100198    0  0.021558
3728441  200673532   6501011    0  0.019232

[3728442 rows x 4 columns]

In [15]:
def run(df,uid):
  return df[df.uid==uid].head(5)

In [46]:
def test_score(df):
    precision_list=[]
    recall_list=[]
    df=df.drop_duplicates().reset_index(drop=True)
    df=df[df.uid.isin(df.uid.value_counts().loc[lambda x: x>1].index)] # user 평가 데이터 2개 이상인 것만 
    for i in tqdm(df['uid'].unique()):
      result=run(df,i)
      try:
          count=len(result[result.rui>=1])
          precision=count/5
          recall=count/len(df[(df.uid==i)&(df.rui>=1)])
          precision_list.append(precision)
          recall_list.append(recall)

      except:
        pass

    return f'precision: {np.mean(precision_list)}, recall: {np.mean(recall_list)}'

In [48]:
test_score(baseline_pred)

TypeError: ignored