<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/pretreatment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
data=pd.read_pickle('/content/drive/MyDrive/project2_2/data.pkl')

In [3]:
data

,event_time,product_id,category_code,brand,price,user_id,user_session,target
0,1569888000000000000,44600062,NaN,shiseido,35,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c,0
1,1569888000000000000,3900821,appliances.environment.water_heater,aqua,33,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,0
2,1569888001000000000,17200506,furniture.living_room.sofa,NaN,543,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8,0
3,1569888001000000000,1307067,computers.notebook,lenovo,251,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,0
4,1569888004000000000,1004237,electronics.smartphone,apple,1081,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d,0
...,...,...,...,...,...,...,...,...
42448759,1572566398000000000,2300275,electronics.camera.video,gopro,527,537931532,22c57267-da98-4f28-9a9c-18bb5b385193,0
42448760,1572566398000000000,10800172,NaN,redmond,61,527322328,5054190a-46cb-4211-a8f1-16fc1a060ed8,0
42448761,1572566398000000000,5701038,auto.accessories.player,kenwood,128,566280422,05b6c62b-992f-4e8e-91f7-961bcb4719cd,0
42448762,1572566399000000000,21407424,electronics.clocks,tissot,689,513118352,4c14bf2a-2820-4504-929d-046356a5a204,0
42448763,1572566399000000000,13300120,NaN,swisshome,155,525266378,6e57d2d7-6022-46e6-81d6-fa77f14cefd8,0

In [4]:
# 클릭을 0으로, 장바구니를 1로 하는 target 값 생성성

In [5]:
target_data = {
   'view': 0,
   'cart': 1, 
   'purchase': 2
}

In [6]:
data['target']=data['event_type'].apply(lambda x: target_data[x])

In [7]:
data=data.drop(columns='event_type')

In [8]:
data.target=data.target.astype('int8')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42448764 entries, 0 to 42448763
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     int64
 1   product_id     int32
 2   category_code  object
 3   brand          category
 4   price          int16
 5   user_id        int32
 6   user_session   object
 7   target         int8
dtypes: category(1), int16(1), int32(2), int64(1), int8(1), object(2)
memory usage: 1.5+ GB

In [5]:
# 모델링을 위해 unix 시간으로 변환환

In [6]:
data['event_time']=data['event_time'].str[:-4]

In [7]:
data['event_time']=pd.to_datetime(data['event_time'])

In [8]:
data['event_time']=data['event_time'].astype('int64')

<ipython-input-8-e6e855d2dbce>:1: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  data['event_time']=data['event_time'].astype('int64')

In [5]:
data['event_time']=data['event_time'].apply(lambda x: x/1000000000)

In [6]:
data['event_time']=data['event_time'].astype('int32')

In [ ]:
#결측치 처리

In [ ]:
data

,event_time,product_id,category_id,category_code,brand,price,user_id,target
0,1569888000,44600062,2103807459595387724,NaN,shiseido,36,541312140,0
1,1569888000,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33,554748717,0
2,1569888001,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543,519107250,0
3,1569888001,1307067,2053013558920217191,computers.notebook,lenovo,252,550050854,0
4,1569888004,1004237,2053013555631882655,electronics.smartphone,apple,1082,535871217,0
...,...,...,...,...,...,...,...,...
41705910,1572566398,2300275,2053013560530830019,electronics.camera.video,gopro,527,537931532,0
41705911,1572566398,10800172,2053013554994348409,NaN,redmond,62,527322328,0
41705912,1572566398,5701038,2053013553970938175,auto.accessories.player,kenwood,129,566280422,0
41705913,1572566399,21407424,2053013561579406073,electronics.clocks,tissot,690,513118352,0
41705914,1572566399,13300120,2053013557166998015,NaN,swisshome,156,525266378,0

In [ ]:
data.isna().sum()

event_time              0
product_id              0
category_id             0
category_code    13342184
brand             6058775
price                   0
user_id                 0
target                  0
dtype: int64

In [ ]:
data.category_code=data.category_code.astype('str')

In [ ]:
def get_nan(df):
  value={}
  for i,k in tqdm(zip(df['product_id'],df['category_code'])):
    if k != 'nan':
      value[i]=k
  return value

In [ ]:
category_list=get_nan(data)

41705915it [00:28, 1454334.41it/s]

In [ ]:
def fill_nan(df):
  category=df['category_code'].to_numpy()
  for i,k in tqdm(enumerate(df['product_id'].to_numpy())):
    if k in category_list.keys():
      category[i]=category_list[k]

  return category

In [ ]:
data['category_code']=fill_nan(data)

41705915it [02:15, 308658.83it/s]

In [ ]:
data.category_code=data.category_code.astype('category')

In [ ]:
data=data.replace('nan',np.nan)

In [9]:
data

,event_time,product_id,category_code,brand,price,user_id,target
0,1569888000,44600062,NaN,shiseido,35,541312140,0
1,1569888000,3900821,appliances.environment.water_heater,aqua,33,554748717,0
2,1569888001,17200506,furniture.living_room.sofa,NaN,543,519107250,0
3,1569888001,1307067,computers.notebook,lenovo,251,550050854,0
4,1569888004,1004237,electronics.smartphone,apple,1081,535871217,0
...,...,...,...,...,...,...,...
42448759,1572566398,2300275,electronics.camera.video,gopro,527,537931532,0
42448760,1572566398,10800172,NaN,redmond,61,527322328,0
42448761,1572566398,5701038,auto.accessories.player,kenwood,128,566280422,0
42448762,1572566399,21407424,electronics.clocks,tissot,689,513118352,0
42448763,1572566399,13300120,NaN,swisshome,155,525266378,0

In [ ]:
data.isna().sum()

event_time              0
product_id              0
category_id             0
category_code    13342184
brand             6058775
price                   0
user_id                 0
target                  0
dtype: int64

In [11]:
data=data.drop(columns='category_id')

In [8]:
data=data.drop(columns='user_session')

In [10]:
data.to_pickle('/content/drive/MyDrive/project2_2/data.pkl')

In [11]:
data1=data[:7000000]
data2=data[7000000:14000000]
data3=data[14000000:21000000]
data4=data[21000000:]

In [12]:
data1.to_pickle('/content/drive/MyDrive/project2_2/data1.pkl')
data2.to_pickle('/content/drive/MyDrive/project2_2/data2.pkl')
data3.to_pickle('/content/drive/MyDrive/project2_2/data3.pkl')
data4.to_pickle('/content/drive/MyDrive/project2_2/data4.pkl')