<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/pretreatment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [16]:
def get_split(data):
  category=data.category_code.str.split('.')
  data['large_category']=category.str.get(0)
  data['small_category']=category.str.get(-1)

  return data

In [ ]:
#실행1

In [17]:
data1=pd.read_pickle('/content/drive/MyDrive/project2_2/data1.pkl')
data1=get_split(data1)
data1.to_pickle('/content/drive/MyDrive/project2_2/data1.pkl')

In [18]:
#실행2

In [19]:
data2=pd.read_pickle('/content/drive/MyDrive/project2_2/data2.pkl')
data2=get_split(data2)
data2.to_pickle('/content/drive/MyDrive/project2_2/data2.pkl')

In [20]:
#실행3

In [21]:
data3=pd.read_pickle('/content/drive/MyDrive/project2_2/data3.pkl')
data3=get_split(data3)
data3.to_pickle('/content/drive/MyDrive/project2_2/data3.pkl')

In [22]:
#실행4

In [23]:
data4=pd.read_pickle('/content/drive/MyDrive/project2_2/data4.pkl')
data4=get_split(data4)
data4.to_pickle('/content/drive/MyDrive/project2_2/data4.pkl')

In [ ]:
# 데이터 병합

In [24]:
data=pd.concat([data1,data2,data3,data4]).reset_index(drop=True)

In [25]:
data=data.drop(columns='category_code')

In [26]:
data

,event_time,product_id,brand,price,user_id,target,larget_category,small_category,large_category
0,1569888000,44600062,shiseido,36,541312140,0,NaN,NaN,NaN
1,1569888000,3900821,aqua,33,554748717,0,appliances,water_heater,appliances
2,1569888001,17200506,NaN,543,519107250,0,furniture,sofa,furniture
3,1569888001,1307067,lenovo,252,550050854,0,computers,notebook,computers
4,1569888004,1004237,apple,1082,535871217,0,electronics,smartphone,electronics
...,...,...,...,...,...,...,...,...,...
41705910,1572566398,2300275,gopro,527,537931532,0,electronics,video,electronics
41705911,1572566398,10800172,redmond,62,527322328,0,NaN,NaN,NaN
41705912,1572566398,5701038,kenwood,129,566280422,0,auto,player,auto
41705913,1572566399,21407424,tissot,690,513118352,0,electronics,clocks,electronics
41705914,1572566399,13300120,swisshome,156,525266378,0,NaN,NaN,NaN

In [27]:
data[['large_category','small_category']]=data[['large_category','small_category']].astype('category')

In [29]:
data.to_pickle('/content/drive/MyDrive/project2_2/data_after.pkl')