<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/recommend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 KB 12.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.21.6)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise->surprise) (1.7.3)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp38-cp38-linux_x86_64.whl size=3366439 sha256=a23d5922654cd19af9485f8e95bc8ec10c50c148cadfd69b645e212c240a3c6e
  Stored in directory: /root/.cache/pip/wheels/af/db/86/2c18183a80ba05da35bf0fb7417aac5cddbd93bcb1b92fd3ea
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.3 surprise-0.1

In [12]:
import pandas as pd
import surprise
from surprise import dump
import numpy as np

In [3]:
_, model1 = dump.load('/content/drive/MyDrive/project2_2/model/svd_model1')
_, model2 = dump.load('/content/drive/MyDrive/project2_2/model/svd_model2')
_, model3 = dump.load('/content/drive/MyDrive/project2_2/model/svd_model3')
_, model4 = dump.load('/content/drive/MyDrive/project2_2/model/svd_model4')
_, model5 = dump.load('/content/drive/MyDrive/project2_2/model/svd_model5')

In [4]:
data1=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data1.pkl')
data2=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data1.pkl')
data3=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data1.pkl')
data4=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data1.pkl')
data5=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data1.pkl')

In [24]:
data1

            user_id  product_id  target
0         554748717     3900821       0
1         550050854     1307067       0
2         535871217     1004237       0
3         512742880     1480613       0
4         537918940     1004545       0
...             ...         ...     ...
12979217  557202408     1005008       0
12979218  553802615    21408491       0
12979219  518956209     1004870       0
12979220  524356542     2702331       0
12979221  537931532     2300275       0

[12979222 rows x 3 columns]

In [28]:
def recommend(uid,model,data):
  all_products=list(data.product_id.unique())
  searched_products=list(data[data.user_id==uid].product_id.unique())

  for i in searched_products:
    all_products.remove(i)

  pred=[model.predict(str(uid),str(pid)) for pid in all_products]

  def sort_key(predict):
    return predict.est

  pred.sort(key=sort_key,reverse=True)

  recommended_items=[k.iid for k in pred[:10]]

  return recommended_items

In [33]:
def run(uid):
  recommend1=recommend(uid,model1,data1)
  recommend2=recommend(uid,model2,data2)
  recommend3=recommend(uid,model3,data3)
  recommend4=recommend(uid,model4,data4)
  recommend5=recommend(uid,model5,data5)

  df=pd.DataFrame(data={'electronic':recommend1, 'household': recommend2, 'fashion and sports':recommend3, 'living': recommend4, 'etc': recommend5})

  return df

In [34]:
run(524356542)

  electronic household fashion and sports    living       etc
0    3900821   3900821            3900821   3900821   3900821
1    1307067   1307067            1307067   1307067   1307067
2    1004237   1004237            1004237   1004237   1004237
3    1480613   1480613            1480613   1480613   1480613
4    1004545   1004545            1004545   1004545   1004545
5    2900536   2900536            2900536   2900536   2900536
6    1005011   1005011            1005011   1005011   1005011
7    3900746   3900746            3900746   3900746   3900746
8    1801995   1801995            1801995   1801995   1801995
9   10900029  10900029           10900029  10900029  10900029